<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Chat</title>
  </head>
  <body class='bg-slate-200'>
    <main
      class='w-lg min-h-screen flex flex-col md:flex-row items-center justify-center mx-auto'
    >
      <section
        class='w-full flex flex-col flex-1 justify-center items-center p-4'
      >
        <div class='w-full flex flex-col justify-center items-center gap-4'>
          <img
            src='/images/avatar.png'
            alt='logo do usuário'
            class='w-36 hover:scale-110 duration-300'
          />
          <h1 class='text-4xl font-bold mb-7'>Login</h1>

          <form action='/auth' method='post' class="w-full flex flex-col gap-4">

            <input
              type='text'
              name='email'
              placeholder='Digite o seu email...'
              class='w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white'
            />

            <input
              type='password'
              name='password'
              id=''
              placeholder='**********'
              class='w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white'
            />

            <button
              class='w-full bg-blue-600 p-2 rounded-lg text-white text-lg font-medium hover:bg-blue-400 duration-200'
            >
              Acessar
            </button>

          </form>
        </div>
      </section>
    </main>

    <script src='/tailwind.js'></script>
  </body>
</html>